body{
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
    font-size: 60px;
}

#demo{
    padding: 10px;
    margin: 20px;
    font-size: 10px;
    color: chocolate;
}

.table a
{
    display:block;
    text-decoration:none;
}