{% extends 'base.html' %}

{% block title %}
UserUpdate
{% endblock %}

{% block body %}

    {% for massage in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ massage }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}

    {% if name  %}
        <h1> User Update {{ name }}!!! </h1>
        <br/>
        {% for user in our_users  %}
        <li>
            {{ user.name }}
            {{ user.email }}
            {{ user.favorite_color }}
	    </li>
        {% endfor  %}

    {% else %}
    <h1>User Update</h1>
    <br>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="/update/{{ user_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=user_to_update.name) }}
        <br>
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=user_to_update.username) }}
        <br>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=user_to_update.email) }}
        <br>
        {{ form.favorite_color.label(class="form-label") }}
        {{ form.favorite_color(class="form-control", value=user_to_update.favorite_color) }}
        <br>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger">Delete</a>
    </form>
</div>
<br><br><br>


    {% endif %}
{% endblock %}